html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

@keyframes img_anime {
  0%,
  100% {
    border-radius: 52% 48% 59% 41% / 53% 40% 60% 47%;
  }
  10% {
    border-radius: 33% 67% 50% 50% / 43% 39% 61% 57%;
  }
  20% {
    border-radius: 51% 49% 31% 69% / 65% 39% 61% 35%;
  }
  30% {
    border-radius: 51% 49% 56% 44% / 45% 39% 61% 55%;
  }
  40% {
    border-radius: 66% 34% 33% 67% / 48% 71% 39% 52%;
  }
  50% {
    border-radius: 46% 54% 33% 67% / 48% 30% 70% 52%;
  }
  60% {
    border-radius: 46% 54% 56% 44% / 48% 30% 70% 52%;
  }
  70% {
    border-radius: 46% 54% 56% 44% / 65% 53% 47% 35%;
  }
  80% {
    border-radius: 67% 33% 56% 44% / 37% 53% 47% 63%;
  }
  90% {
    border-radius: 46% 54% 32% 68% / 37% 53% 47% 63%;
  }
}
.hero {
  overflow: hidden;
  border-radius: 52% 48% 59% 41% / 53% 40% 60% 47%;
  animation: img_anime 30s linear infinite;
}
.hero img {
  filter: grayscale(100%);
}
@media (min-width: 768px) {
  .hero {
    margin-left: 25vw;
    width: 40%;
  }
}

/* html.sr .scrollanime {
  visibility: hidden;
} */
#slider {
  box-sizing: content-box;
  margin-bottom: 22vh;
}
.mySlides {
  border-radius: 1vw;
  transform: scale(1.1);
  opacity: 1;
  transition: 2s all ease-in-out;
}
.mySlides:hover {
  filter:blur(20px)
  transform: scale(1.1);
  opacity: 0;
}
